
## <summary>policy for liquidcash</summary>


########################################
## <summary>
##	Transition to liquidcash.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`liquidcash_domtrans',`
	gen_require(`
		type liquidcash_t, liquidcash_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, liquidcash_exec_t, liquidcash_t)
')


########################################
## <summary>
##	Execute liquidcash server in the liquidcash domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`liquidcash_initrc_domtrans',`
	gen_require(`
		type liquidcash_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, liquidcash_initrc_exec_t)
')


########################################
## <summary>
##	Search liquidcash lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`liquidcash_search_lib',`
	gen_require(`
		type liquidcash_var_lib_t;
	')

	allow $1 liquidcash_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read liquidcash lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`liquidcash_read_lib_files',`
	gen_require(`
		type liquidcash_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, liquidcash_var_lib_t, liquidcash_var_lib_t)
')

########################################
## <summary>
##	Manage liquidcash lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`liquidcash_manage_lib_files',`
	gen_require(`
		type liquidcash_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, liquidcash_var_lib_t, liquidcash_var_lib_t)
')

########################################
## <summary>
##	Manage liquidcash lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`liquidcash_manage_lib_dirs',`
	gen_require(`
		type liquidcash_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, liquidcash_var_lib_t, liquidcash_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a liquidcash environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`liquidcash_admin',`
	gen_require(`
		type liquidcash_t;
		type liquidcash_initrc_exec_t;
		type liquidcash_var_lib_t;
	')

	allow $1 liquidcash_t:process { ptrace signal_perms };
	ps_process_pattern($1, liquidcash_t)

	liquidcash_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 liquidcash_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, liquidcash_var_lib_t)

')

